@import url("./assents/font/Open_Sans/Open_Sans.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body,
html,
#root {
  background: #fff;
  height: 100%;
}
